@import './base.css';



a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

/*-------------------------------------HOME---------------------------------------*/
#app {
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 250px auto;
}